$card-bg-color: #c8a455;

$hover-easing: cubic-bezier(0.23, 1, 0.32, 1);
$return-easing: cubic-bezier(0.445, 0.05, 0.55, 0.95);

h1 {
  font-family: "Verdana";
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-wrapper {
  margin: 10px;
  transform: perspective(800px);
  transform-style: preserve-3d;
  cursor: pointer;

  &:hover {
    .card-detail {
      transform: translateY(0);
      transition: 0.6s $hover-easing;
      p {
        opacity: 1;
        transition: 0.6s $hover-easing;
      }
      &:after {
        transition: 5s $hover-easing;
        opacity: 1;
        transform: translateY(0);
      }
    }

    .parallax-bg {
      transition: 0.6s $hover-easing, opacity 5s $hover-easing;
      opacity: 1;
    }

    .card-content {
      transition: 0.6s $hover-easing, box-shadow 2s $hover-easing;
      box-shadow: rgba(white, 0.2) 0 0 40px 5px, rgba(white, 1) 0 0 0 1px, rgba(black, 0.66) 0 30px 60px 0,
        inset #333 0 0 0 5px, inset white 0 0 0 6px;
    }
  }
}

.card {
  flex: 0 0 240px;
  width: 240px;
  height: 330px;

  .card-content {
    position: relative;
    transition: 1s $return-easing;
    width: 96%;
    height: 100%;
    margin: 5px;

    border-radius: 10px;
    background-color: $card-bg-color;

    overflow: hidden;
  }
}

.parallax-bg {
  opacity: 0.5;
  position: absolute;
  top: -20px;
  left: -20px;
  width: 100%;
  height: 100%;
  padding: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: 1s $return-easing, opacity 5s 1s $return-easing;
  pointer-events: none;
}

.character-bg {
  filter: drop-shadow(5px 5px 5px #222);
  top: 20px;
}
.pattern-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(
data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAOUlEQVQoU2NkQAX/GRgYGJGFkDkwSRRFMAXoOuF8kAIMY6FWgMWJMgHmJrxuQFcE9wiKl9C8DOYCAAHlDAmctQ8rAAAAAElFTkSuQmCC
   )
    repeat;
  opacity: 0.5;
}

.card-detail {
  padding: 20px;
  position: absolute;
  bottom: 0;
  color: #fff;
  transform: translateY(50%);
  transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);

  p {
    opacity: 0;
    text-shadow: rgba(black, 1) 0 2px 3px;
    transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  * {
    position: relative;
    z-index: 1;
  }
}

.frame {
  position: absolute;
  z-index: 1000;
  top: calc(100% - 26px);
  width: 100%;
  top: 0px;

  img {
    position: absolute;
  }

  &.rare {
    .base-color {
      filter: grayscale(100%) brightness(120%) sepia(90%) hue-rotate(5deg) saturate(500%) contrast(0.7);
    }
  }
}
