@mixin google-font($family) {
  @import url("https://fonts.googleapis.com/css?family=#{$family}");
}

@include google-font("Open Sans");
@include google-font("Chivo");
@include google-font("Comfortaa");

body {
  margin: 0 auto;
}

section:first-of-type:not(.full) {
  //padding-top: 0%;
}
section {
  position: relative;
  padding: 10%;
}
article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

main {
  position: relative;
}
