@import "./Global.scss";
@import "./FontStyle.scss";
@import "./Animation.scss";
@import "./Buttons.scss";

.no-space-section {
  padding: 0;
  overflow: hidden;
}

.welcome {
  background-color: #000;
  color: #fff;
  height: 100vh;
  margin: auto;

  .who-am-i {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 15%;
    display: grid;
    text-align: center;
    align-content: center;
    justify-content: center;
    user-select: none;

    .main-name {
      font-family: "Comfortaa";
      font-size: 62px;
      font-weight: 300;
      color: #fff;
    }
    .sub-title {
      font-size: 30px;
      font-weight: 300;
    }
  }
}
