/* Mixins */
.btn {
  max-width: 400px;
  display: inline-block;
  position: absolute;
  left: 30%;
  right: 30%;
  bottom: 0%;
  margin: 0 0.1em;
  background: transparent;
  border-radius: 6px;
  font-weight: 400;
  text-align: center; }

.green span {
  background: linear-gradient(to right, #add356, #00dfa6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.orange span {
  background: linear-gradient(to right, #ffcb52, #ff451f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.blue span {
  background: linear-gradient(to right, #3dade9, #bf2fcb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.blue {
  padding: 0.75em;
  font-size: 3em;
  font-weight: 100;
  line-height: 1;
  letter-spacing: 1px; }

/* Gradient & Border Technique */
.border .blue {
  box-shadow: -1px 0 0 1px rgba(61, 173, 233, 0.75), -1px -1px 0 1px rgba(94, 142, 226, 0.25), -1px 1px 0 1px rgba(94, 142, 226, 0.25), 0 -1px 0 1px rgba(126, 110, 218, 0.5), 0 1px 0 1px rgba(126, 110, 218, 0.5), 1px -1px 0 1px rgba(159, 79, 211, 0.25), 1px 1px 0 1px rgba(159, 79, 211, 0.25), 1px 0 0 1px rgba(191, 47, 203, 0.75); }
