@import url("https://fonts.googleapis.com/css?family=Open Sans");
@import url("https://fonts.googleapis.com/css?family=Chivo");
@import url("https://fonts.googleapis.com/css?family=Comfortaa");
section {
  position: relative;
  padding: 10%; }

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block; }

main {
  position: relative; }

a {
  color: inherit;
  text-decoration: none; }

@media (prefers-color-scheme: light) {
  .theme {
    background: white;
    color: black; } }
