@import url("http://fonts.googleapis.com/css?family=Open Sans");
@import url("http://fonts.googleapis.com/css?family=Chivo");
@import url("http://fonts.googleapis.com/css?family=Comfortaa");
section:first-of-type:not(.full) {
  padding-top: 15%; }

section {
  position: relative;
  padding: 10%; }

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block; }

main {
  position: relative; }

.welcome {
  background-color: #000;
  color: #fff;
  height: 100vh;
  margin-right: auto;
  margin-left: auto; }
  .welcome .shaker {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    opacity: 0;
    -webkit-animation: show 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.5s forwards 1;
    animation: show 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.5s forwards 1; }
  .welcome .infos {
    opacity: 0;
    -webkit-animation: show 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95) 1.5s forwards 1;
    animation: show 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95) 1.5s forwards 1; }
    .welcome .infos .number {
      position: absolute;
      left: 0;
      right: 0;
      text-align: center;
      bottom: 10%;
      color: #fff;
      font-size: 0.9375em; }
    .welcome .infos .special-coop {
      left: 5.5%;
      -webkit-transform: translate(-50%, -50%) rotate(-90deg);
      transform: translate(-50%, -50%) rotate(-90deg); }
  .welcome .t-shirt-print {
    left: 94.5%;
    -webkit-transform: translate(-50%, -50%) rotate(90deg);
    transform: translate(-50%, -50%) rotate(90deg); }
  .welcome .who-am-i {
    display: grid;
    text-align: center;
    padding-top: 10%; }
    .welcome .who-am-i .main-name {
      font-family: "Comfortaa";
      font-size: 62px;
      font-weight: 300;
      text-shadow: 2px 2px 3px;
      color: #fff; }
    .welcome .who-am-i .sub-title {
      font-size: 44px;
      font-weight: 300; }
