@import url("https://fonts.googleapis.com/css?family=Open Sans");
@import url("https://fonts.googleapis.com/css?family=Chivo");
@import url("https://fonts.googleapis.com/css?family=Comfortaa");
section {
  position: relative;
  padding: 10%; }

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block; }

main {
  position: relative; }

.no-space-section {
  padding: 0;
  overflow: hidden; }

.welcome {
  background-color: #000;
  color: #fff;
  height: 100vh;
  margin: auto; }
  .welcome .who-am-i {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: grid;
    text-align: center;
    align-content: center;
    justify-content: center; }
    .welcome .who-am-i .main-name {
      font-family: "Comfortaa";
      font-size: 62px;
      font-weight: 300;
      color: #fff; }
    .welcome .who-am-i .sub-title {
      font-size: 30px;
      font-weight: 300; }
