/* Yurito Gods theme for the win with love and care */
@import url("https://fonts.googleapis.com/css?family=Open Sans");
@import url("https://fonts.googleapis.com/css?family=Chivo");
@import url("https://fonts.googleapis.com/css?family=Comfortaa");
@import url("https://fonts.googleapis.com/css?family=Open Sans");
@import url("https://fonts.googleapis.com/css?family=Chivo");
@import url("https://fonts.googleapis.com/css?family=Comfortaa");
.themed {
  background: black;
  color: white; }

@media (prefers-color-scheme: light) {
  .themed {
    background: white;
    color: black; } }

section {
  position: relative;
  padding: 10%; }

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block; }

main {
  position: relative; }

a {
  color: inherit;
  text-decoration: none; }

.cmyk {
  text-shadow: 0.25rem -0.25rem rgba(255, 0, 255, 0.75), -0.25rem -0.25rem rgba(0, 255, 255, 0.75), 0 0.5rem rgba(255, 255, 0, 0.75);
  transition: 0.5s all ease; }
  .cmyk:hover {
    color: #fff;
    text-shadow: 0 0 100px #666, 0 0 100px #666, 0 0 100px #666, 0 0 100px #666, 0 0 100px #666, 0 0 50px #000, 0 0 50px #000, 0 0 50px #000, 0 0 50px #000;
    cursor: pointer; }

/* Gradient border animated */
.gradient-border-animated {
  --borderWidth: 3px;
  background: #1d1f20;
  position: relative;
  border-radius: var(--borderWidth); }
  .gradient-border-animated:after {
    content: "";
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    border-radius: calc(2 * var(--borderWidth));
    z-index: -1;
    animation: animatedgradient 3s ease alternate infinite;
    background-size: 300% 300%; }

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

/* Mixins */
.btn {
  max-width: 400px;
  display: inline-block;
  position: absolute;
  left: 30%;
  right: 30%;
  bottom: 0%;
  margin: 0 0.1em;
  background: transparent;
  border-radius: 6px;
  font-weight: 400;
  text-align: center; }

.green span {
  background: linear-gradient(to right, #add356, #00dfa6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.orange span {
  background: linear-gradient(to right, #ffcb52, #ff451f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.blue span {
  background: linear-gradient(to right, #3dade9, #bf2fcb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.blue {
  padding: 0.75em;
  font-size: 3em;
  font-weight: 100;
  line-height: 1;
  letter-spacing: 1px; }

/* Gradient & Border Technique */
.border .blue {
  box-shadow: -1px 0 0 1px rgba(61, 173, 233, 0.75), -1px -1px 0 1px rgba(94, 142, 226, 0.25), -1px 1px 0 1px rgba(94, 142, 226, 0.25), 0 -1px 0 1px rgba(126, 110, 218, 0.5), 0 1px 0 1px rgba(126, 110, 218, 0.5), 1px -1px 0 1px rgba(159, 79, 211, 0.25), 1px 1px 0 1px rgba(159, 79, 211, 0.25), 1px 0 0 1px rgba(191, 47, 203, 0.75); }

.no-space-section {
  padding: 0;
  overflow: hidden; }

.full-viewport {
  background-color: #000;
  color: #fff;
  height: 100vh;
  margin: auto; }
  .full-viewport .abs-pos-dsp {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 15%;
    display: grid;
    text-align: center;
    align-content: center;
    justify-content: center;
    user-select: none; }
    .full-viewport .abs-pos-dsp .main-name {
      font-family: "Comfortaa";
      font-size: 62px;
      font-weight: 300;
      color: #fff; }
    .full-viewport .abs-pos-dsp .sub-title {
      font-size: 30px;
      font-weight: 300; }

/* Yurito Gods theme for the win with love and care */
.themed {
  background: black;
  color: white; }

@media (prefers-color-scheme: light) {
  .themed {
    background: white;
    color: black; } }

section {
  position: relative;
  padding: 10%; }

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block; }

main {
  position: relative; }

a {
  color: inherit;
  text-decoration: none; }

.content {
  font-family: "Comfortaa", sans-serif;
  height: 100vh;
  font-size: 0.82rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300; }

.all {
  display: flex;
  perspective: 10px;
  transform: perspective(300px) rotateX(20deg);
  will-change: perspective;
  perspective-origin: center center;
  transition: all 1.3s ease-out;
  justify-content: center;
  transform-style: preserve-3d; }

.all:hover {
  perspective: 1000px;
  transition: all 1.3s ease-in;
  transform: perspective(10000px) rotateX(0deg); }
  .all:hover .text {
    opacity: 1; }
  .all:hover > div {
    opacity: 1;
    transition-delay: 0s; }
  .all:hover .explainer {
    opacity: 0; }

.left,
.center,
.right,
.lefter,
.righter {
  width: 200px;
  height: 150px;
  transform-style: preserve-3d;
  border-radius: 10px;
  border: 1px solid #fff;
  box-shadow: 0 0 20px 5px rgba(100, 100, 255, 0.4);
  opacity: 0;
  transition: all 0.3s ease;
  transition-delay: 1s;
  position: relative;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #58d;
  cursor: pointer;
  background-blend-mode: color-burn; }
  .left:hover,
  .center:hover,
  .right:hover,
  .lefter:hover,
  .righter:hover {
    box-shadow: 0 0 30px 10px rgba(100, 100, 255, 0.6);
    background-color: #ccf; }

.text {
  transform: translateY(30px);
  opacity: 0;
  transition: all 0.3s ease;
  bottom: 0;
  left: 5px;
  position: absolute;
  will-change: transform;
  color: #fff;
  text-shadow: 0 0 5px rgba(100, 100, 255, 0.6); }

.lefter {
  transform: translateX(-60px) translateZ(-50px) rotateY(-10deg);
  background-image: url(https://cdn3.iconfinder.com/data/icons/other-icons/48/organization-512.png); }

.left {
  transform: translateX(-30px) translateZ(-25px) rotateY(-5deg);
  background-image: url(https://cdn3.iconfinder.com/data/icons/other-icons/48/creative_draw-512.png); }

.center {
  opacity: 1;
  background-image: url(https://cdn3.iconfinder.com/data/icons/other-icons/48/app_window-512.png); }

.right {
  transform: translateX(30px) translateZ(-25px) rotateY(5deg);
  background-image: url(https://cdn3.iconfinder.com/data/icons/other-icons/48/cloud_weather-512.png); }

.righter {
  transform: translateX(60px) translateZ(-50px) rotateY(10deg);
  background-image: url(https://cdn3.iconfinder.com/data/icons/other-icons/48/search-512.png); }

.explainer {
  font-weight: 300;
  font-size: 2rem;
  color: #fff;
  transition: all 0.6s ease;
  width: 100%;
  height: 100%;
  background-color: #303050;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(https://cdn0.iconfinder.com/data/icons/video-player-5/120/btn_Shuffle-512.png);
  border-radius: 10px;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center; }
